[package]
name = "jf-primitives"
description = "Cryptographic primitives"
version = "0.0.1"
authors = ["Translucence Research <engineering@translucence.net>"]
edition = "2018"

[dependencies]

# ark
ark-ff = { version = "0.3.0", default-features = false }
ark-std = { version = "0.3.0", default-features = false }
ark-ec = { version = "0.3.0", default-features = false }
ark-serialize = { version = "0.3.0", default-features = false }

# jellyfish
jf-plonk = { path = "../plonk" }
jf-rescue = { path = "../rescue" }
jf-utils = { path = "../utilities" }

# others
thiserror = { version = "1.0.24", default-features = false }
rayon = { version = "1.5.0", default-features = false }
zeroize = { version = "1.3", default-features = false }
itertools = { version = "0.10.1", default-features = false, features = [ "use_alloc" ] }
serde = { version = "1.0", features = ["derive"] }
generic-array = { version = "^0.14", default-features = false }
crypto_box = { version = "0.6.1", default-features = false, features = [ "u64_backend", "alloc" ] }
displaydoc = { version = "0.2.3", default-features = false }
derivative = { version = "2", features = ["use_core"] }

[dev-dependencies]
rand_chacha = "^0.3"
bincode = "1.0"
quickcheck = "1.0.0"
criterion = "0.3.1"

# ark curves
ark-ed-on-bls12-377 = { git = "https://github.com/arkworks-rs/curves", default-features = false, rev = "677b4ae751a274037880ede86e9b6f30f62635af"}
ark-ed-on-bls12-381 = { version = "0.3.0", default-features = false }
ark-ed-on-bls12-381-bandersnatch = { git = "https://github.com/arkworks-rs/curves", default-features = false, rev = "677b4ae751a274037880ede86e9b6f30f62635af" }
ark-ed-on-bn254 = { version = "0.3.0", default-features = false }
ark-bls12-377 = { git = "https://github.com/arkworks-rs/curves", default-features = false, features = ["curve"], rev = "677b4ae751a274037880ede86e9b6f30f62635af" }
ark-bls12-381 = { version = "0.3.0", default-features = false, features = ["curve"] }
ark-bn254 = { version = "0.3.0", default-features = false, features = ["curve"] }
ark-bw6-761 = { git = "https://github.com/arkworks-rs/curves", default-features = false, rev = "677b4ae751a274037880ede86e9b6f30f62635af" }

[[bench]]
name = "merkle_path"
harness = false

[features]
std = []
