[package]
name = "jf-primitives"
description = "Cryptographic primitives"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
rust-version = { workspace = true }

[dependencies]
anyhow = "1.0"
ark-bls12-377 = "0.4.0"
ark-bls12-381 = "0.4.0"
ark-bn254 = "0.4.0"
ark-bw6-761 = "0.4.0"
ark-crypto-primitives = { version = "0.4.0", default-features = false, features = [
        "sponge",
] }
ark-ec = "0.4.0"
ark-ed-on-bls12-377 = "0.4.0"
ark-ed-on-bls12-381 = "0.4.0"
ark-ed-on-bn254 = "0.4.0"
ark-ff = "0.4.0"
ark-pallas = "0.4.0"
ark-poly = "0.4.0"
ark-serialize = "0.4.0"
ark-std = { version = "0.4.0", default-features = false }
blst = { git = "https://github.com/EspressoSystems/blst.git", branch = "no-std", default-features = false } # TODO: pin to a tag or commit
chacha20poly1305 = { version = "0.10.1", default-features = false, features = [
        "alloc",
        "rand_core",
] }
crypto_kx = { version = "0.2.1", features = ["serde"] }
derivative = { version = "2", features = ["use_core"] }
digest = { version = "0.10.1", default-features = false, features = ["alloc"] }
displaydoc = { version = "0.2.3", default-features = false }
espresso-systems-common = { git = "https://github.com/espressosystems/espresso-systems-common", tag = "0.4.0" }
hashbrown = "0.13.1"
itertools = { workspace = true, features = ["use_alloc"] }
jf-relation = { path = "../relation", default-features = false }
jf-utils = { path = "../utilities" }
merlin = { version = "3.0.0", default-features = false }
num-bigint = { version = "0.4.3", default-features = false }
num-traits = { version = "0.2.15", default-features = false }
rand_chacha = { version = "0.3.1", default-features = false }
rayon = { version = "1.5.0", optional = true }
serde = { version = "1.0", default-features = false, features = ["derive"] }
sha2 = { version = "0.10.1", default-features = false }
sha3 = { version = "0.10.5", default-features = false }
tagged-base64 = "0.3.3"
typenum = { version = "1.15.0", default-features = false, features = [
        "no_std",
] }
zeroize = { version = "1.5", default-features = false }

[dev-dependencies]
ark-bls12-377 = "0.4.0"
ark-bls12-381 = "0.4.0"
ark-bn254 = "0.4.0"
ark-bw6-761 = "0.4.0"
ark-ed-on-bls12-377 = "0.4.0"
ark-ed-on-bls12-381-bandersnatch = "0.4.0"
ark-ed-on-bn254 = "0.4.0"
bincode = "1.3"
criterion = "0.5.1"
hashbrown = "0.13.1"
sha2 = { version = "0.10.1" }

[[bench]]
name = "merkle_path"
harness = false

[[bench]]
name = "pcs"
harness = false

[[bench]]
name = "pcs-size"
path = "benches/pcs_size.rs"
harness = false

[[bench]]
name = "reed-solomon"
path = "benches/reed_solomon.rs"
harness = false

[[bench]]
name = "advz"
harness = false

[[bench]]
name = "minroot"
harness = false

[[bench]]
name = "bls-signature"
path = "benches/bls_signature.rs"
harness = false

[features]
default = ["parallel"]
std = [
        "ark-std/std",
        "ark-serialize/std",
        "ark-ff/std",
        "ark-ec/std",
        "ark-poly/std",
        "ark-crypto-primitives/std",
        "num-bigint/std",
        "num-traits/std",
        "sha2/std",
        "sha3/std",
        "zeroize/std",
        "itertools/use_std",
        "rand_chacha/std",
        "jf-utils/std",
        "jf-relation/std",
]
print-trace = ["ark-std/print-trace"]
parallel = [
        "ark-ff/parallel",
        "ark-ec/parallel",
        "jf-utils/parallel",
        "jf-relation/parallel",
        "rayon",
]
test-srs = []
