.*.sw*
.DS_Store
.idea
**/target
cargo-system-config.toml
Cargo.lock
*.org
.pre-commit-config.yaml
.vscode

# Test coverage (grcov)
default.profraw
/.pre-commit-config.yaml

# benchmark reports placed here for some reason:
# https://doc.rust-lang.org/cargo/commands/cargo-bench.html#working-directory-of-benchmarks
/primitives/target
