[workspace]
members = [
  "plonk",
  "primitives",
  "relation",
  "utilities",
]

[workspace.package]
version = "0.1.2"
authors = ["Espresso Systems <hello@espressosys.com>"]
edition = "2021"
license = "MIT"
rust-version = "1.64.0"
