[package]
name = "jf-plonk"
description = "UltraPlonk implementation"
version = "0.1.3"
authors = ["Espresso Systems <hello@espressosys.com>"]
edition = "2018"
license = "MIT"

[dependencies]
jf-utils = { path = "../utilities" }
jf-rescue = { path = "../rescue" }

ark-std = { version = "0.3.0", default-features = false }
ark-serialize = { version = "0.3.0", default-features = false }
ark-ff = { version = "0.3.0", default-features = false, features = ["asm", "parallel"] }
ark-ec = { version = "0.3.0", default-features = false, features = ["parallel"] }
ark-poly = { version = "0.3.0", default-features = false,  features = ["parallel"] }
ark-bn254 = { version = "0.3.0", default-features = false, features = ["curve"] }
ark-bls12-377 = { git = "https://github.com/arkworks-rs/curves", features = ["curve"], rev = "677b4ae751a274037880ede86e9b6f30f62635af" }
ark-bls12-381 = { version = "0.3.0", default-features = false, features = ["curve"] }
ark-bw6-761 = { git = "https://github.com/arkworks-rs/curves", rev = "677b4ae751a274037880ede86e9b6f30f62635af" }

merlin = { version = "3.0.0", default-features = false }
rayon = { version = "1.5.0", default-features = false }
itertools = { version = "0.10.1", default-features = false }
downcast-rs = { version = "1.2.0", default-features = false }
serde = { version = "1.0", default-features = false, features = ["derive"] }
displaydoc = { version = "0.2.3", default-features = false }
derivative = { version = "2", features = ["use_core"] }
num-bigint = { version = "0.4", default-features = false}
rand_chacha = { version = "0.3.1" }
sha3 = "^0.10"
espresso-systems-common = { git = "https://github.com/espressosystems/espresso-systems-common", tag = "0.1.1" }


[dependencies.ark-poly-commit]
git = "https://github.com/arkworks-rs/poly-commit/"
rev = "cafc05e39692bbc5c383990063ad851f0b94a553"
default-features = false

[dev-dependencies]
bincode = "1.0"
ark-ed-on-bls12-381 = { version = "0.3.0", default-features = false }
ark-ed-on-bls12-377 = { git = "https://github.com/arkworks-rs/curves", rev = "677b4ae751a274037880ede86e9b6f30f62635af" }
ark-ed-on-bls12-381-bandersnatch = { git = "https://github.com/arkworks-rs/curves", default-features = false, rev = "677b4ae751a274037880ede86e9b6f30f62635af" }
ark-ed-on-bn254 = { version = "0.3.0", default-features = false }
hex = "^0.4.3"

# Benchmarks
[[bench]]
name = "plonk-benches"
path = "benches/bench.rs"
harness = false

[features]
std = []
# exposing apis for testing purpose
test_apis = []
