[package]
name = "jf-utils"
description = "Utilities for Jellyfish cryptographic library"
version = "0.0.1"
authors = ["Translucence Research <engineering@translucence.net>"]
edition = "2018"

[dependencies]
ark-std = { version = "0.3.0", default-features = false }
ark-ff = { version = "0.3.0", default-features = false, features = ["asm", "parallel"] }
ark-ec = { version = "0.3.0", default-features = false, features = ["parallel"] }
ark-serialize = { version = "0.3.0", default-features = false }
serde = { version = "1.0", features = ["derive"] }
tagged-base64 = { git = "ssh://git@github.com/SpectrumXYZ/tagged-base64.git", branch = "main"}
jf-utils-derive = { path = "../utilities_derive" }
sha2 = { version = "0.10.1", default-features = false }
digest = { version = "0.10.1", default-features = false }
anyhow = { version = "^1.0", default-features = false }

[dev-dependencies]
ark-ed-on-bn254 = { version = "0.3.0", default-features = false }
ark-ed-on-bls12-377 = { git = "https://github.com/arkworks-rs/curves", default-features = false, rev = "677b4ae751a274037880ede86e9b6f30f62635af" }
ark-ed-on-bls12-381 = { version = "0.3.0", default-features = false }
ark-ed-on-bls12-381-bandersnatch = { git = "https://github.com/arkworks-rs/curves", default-features = false, rev = "677b4ae751a274037880ede86e9b6f30f62635af" }
ark-bn254 = { version = "0.3.0", default-features = false, features = ["curve"] }
ark-bls12-377 =  { git = "https://github.com/arkworks-rs/curves", rev = "677b4ae751a274037880ede86e9b6f30f62635af" }
ark-bls12-381 = { version = "0.3.0", default-features = false, features = ["curve"] }

[features]
std = []
