[package]
name = "jf-utils"
description = "Utilities for Jellyfish cryptographic library"
version = "0.1.2"
authors = ["Espresso Systems <hello@espressosys.com>"]
edition = "2018"
license = "MIT"

[dependencies]
jf-utils-derive = { path = "../utilities_derive" }
tagged-base64 = { git = "https://github.com/EspressoSystems/tagged-base64", tag = "0.2.0" }

ark-std = { version = "0.3.0", default-features = false }
ark-ff = { version = "0.3.0", default-features = false }
ark-ec = { version = "0.3.0", default-features = false }
ark-serialize = { version = "0.3.0", default-features = false }

serde = { version = "1.0", default-features = false, features = ["derive"] }
anyhow = { version = "^1.0", default-features = false }
displaydoc = { version = "0.2.3", default-features = false }

sha2 = { version = "0.10.1", default-features = false }
digest = { version = "0.10.1", default-features = false }

[dev-dependencies]
ark-ed-on-bn254 = "0.3.0"
ark-ed-on-bls12-377 = { git = "https://github.com/arkworks-rs/curves", rev = "677b4ae751a274037880ede86e9b6f30f62635af" }
ark-ed-on-bls12-381 = "0.3.0"
ark-ed-on-bls12-381-bandersnatch = { git = "https://github.com/arkworks-rs/curves", rev = "677b4ae751a274037880ede86e9b6f30f62635af" }
ark-bn254 = "0.3.0"
ark-bls12-377 =  { git = "https://github.com/arkworks-rs/curves", rev = "677b4ae751a274037880ede86e9b6f30f62635af" }
ark-bls12-381 = "0.3.0"
ark-serialize = { version = "0.3.0", features = ["derive"] }
serde_json = "1.0"

[features]
default = [ "ark-ff/asm" ] # no_std support
std = [ "ark-ff/std", "ark-std/std", "ark-ec/std", "ark-serialize/std" ]
parallel = [ "ark-ff/parallel", "ark-std/parallel", "ark-ec/parallel" ]
