[package]
name = "jf-utils"
description = "Utilities for Jellyfish cryptographic library"
version = "0.1.2"
authors = ["Espresso Systems <hello@espressosys.com>"]
edition = "2018"
license = "MIT"

[dependencies]
ark-ec = { version = "0.3.0", default-features = false }
ark-ff = { version = "0.4.0", default-features = false, features = [ "asm" ] }
ark-serialize = { version = "0.3.0", default-features = false }
ark-std = { version = "0.3.0", default-features = false }
digest = { version = "0.10.1", default-features = false }
rayon = { version = "1.5.0", optional = true }
serde = { version = "1.0", default-features = false, features = ["derive"] }
sha2 = { version = "0.10.1", default-features = false }
tagged-base64 = { git = "https://github.com/espressosystems/tagged-base64", tag = "0.2.4" }

[dev-dependencies]
ark-bls12-377 =  { git = "https://github.com/arkworks-rs/curves", rev = "677b4ae751a274037880ede86e9b6f30f62635af" }
ark-bls12-381 = "0.3.0"
ark-bn254 = "0.3.0"
ark-ed-on-bls12-377 = { git = "https://github.com/arkworks-rs/curves", rev = "677b4ae751a274037880ede86e9b6f30f62635af" }
ark-ed-on-bls12-381 = "0.3.0"
ark-ed-on-bn254 = "0.3.0"

[features]
default = []
std = ["ark-ff/std", "ark-std/std", "ark-ec/std", "ark-serialize/std"]
parallel = ["ark-ff/parallel", "ark-std/parallel", "ark-ec/parallel", "rayon"]
